.nav_li {
  width: fit-content;
  position: relative;
  cursor: pointer;
  color: var(--main-color);
}

.nav_li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  left: 0;
  bottom: -8px;
  border-bottom: 3px solid var(--main-color);
  transform-origin: bottom left;
  transition: transform 0.25s 0.1s ease-out;
}

.nav_li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
