:root {
  --color-teal-700: #0f766e;
  --color-teal-900: #134e4a;
  --color-emerald-100: #d1fae5;
  --main-color: var(--color-teal-700)
}

body {
  color: var(--main-color);
  background-color: var(--color-emerald-100);
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 100%;
  position: relative;
}

.my_underline {
  width: fit-content;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}

.my_underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  left: 0;
  bottom: -5px;
  border-bottom: 2px solid;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.my_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
